<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [10]:
print('Comparasion String')
nama = 'rangga'
fname = 'rangga'
lname = 'ariq'
print(f"{fname} == {nama}? {fname==nama}")
print(f"{lname} == {nama}? {lname==nama}")

print('\nComparasion Bool')
isEmpty = True
if isEmpty :
  print(f'data ditambahkan karna status kekosongan data = {isEmpty}')
else :
  print(f'data sudah tersedia karna status kekosongan data = {isEmpty}')

print('\nComparasion Integer')
nilai = 80
if nilai >= 75 :
  print(f'anda lulus dengan nilai {nilai}')
else:
  print(f'anda gagal dengan nilai {nilai}')

Comparasion String
rangga == rangga? True
ariq == rangga? False

Comparasion Bool
data ditambahkan karna status kekosongan data = True

Comparasion Integer
anda lulus dengan nilai 80



---



---

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [23]:
## AND
print("Comparasin 'and'", end = ' -> ')
username = 'admin'
password = 'root31'

if username == 'admin' and password == 'root' :
  print('anda berhasil login')
else : 
  print('username atau password salah')

# expected : username atau password salah
# karna operator 'and' harus kedua statement bersifat True, dan kondisi ini saya sengaja membuat password tersebut salah

## OR
print("Comparasin 'or'", end = '  -> ')
noTelpAyah = ['088219424935', '08123234412','081234567890']
noTelpIbu = ['081232314414', '085716763059']
thePhone = '085716763059'

if thePhone in noTelpAyah or thePhone in noTelpIbu : 
  print('No Telp sudah digunakan')
else :
  print('No Telp belum digunakan')
  
# expected : No Telp sudah digunakan 
# karna operator 'or' akan memiliki hasil True jika salah satu statement bersifat True, 
# pada kondisi ini saya membuat kondisi yang True hanya pada thePhone == noTelpIbu

## NOT
print("Comparasin 'not'", end = ' -> ')
person = {
  'name' : 'rangga',
  'age' : 22,
  'gender': 'female'
}

if not person['gender'] == 'male' :
  person['gender'] = 'male'
print(person)

# expected : {'name': 'rangga', 'age': 22, 'gender': 'male'} 
# terjadi perubahan value pada key gender, karna operator 'not' disini akan merubah semua value jika gender bukan 'male'

Comparasin 'and' -> username atau password salah
Comparasin 'or'  -> No Telp sudah digunakan
Comparasin 'not' -> {'name': 'rangga', 'age': 22, 'gender': 'male'}



---



---

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'High' jika grade adalah 'A' dan price lebih dari 100000, kemudian mem-print 'Medium' jika grade adalah 'A' dan price lebih dari 50000 dan memprint 'low' jika grade adalah 'A' dan price lebih kecil dan sama dengan 50000.

In [28]:
#code here
grade = 'A'
price = 60000

if grade == 'A' :
  if price >= 100000:
    level = 'High'
  elif price >= 50000 :
    level = 'Medium'
  else : 
    level = 'Low'
print(level)

Medium



---



---

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [32]:
# Buat fungsi
def result(args):
  res = 'Aneh'
  if args % 2 == 0 :
    if (args >= 2 and args <= 5) or args > 20 :
      res = 'Tidak Aneh'
  return res 

for i in range(1, 26) :
  print(f'{i}. {result(i)}')

1. Aneh
2. Tidak Aneh
3. Aneh
4. Tidak Aneh
5. Aneh
6. Aneh
7. Aneh
8. Aneh
9. Aneh
10. Aneh
11. Aneh
12. Aneh
13. Aneh
14. Aneh
15. Aneh
16. Aneh
17. Aneh
18. Aneh
19. Aneh
20. Aneh
21. Aneh
22. Tidak Aneh
23. Aneh
24. Tidak Aneh
25. Aneh



---



---

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

jawaban perbedaan <br>
While loop digunakan untuk perulangan yang jumlah perulangannya tidak diketahui, <br>
sedangkan for loop digunakan untuk perulangan yang jumlah perulangannya diketahui.

In [33]:
# jawaban contoh
i = 1
while i <= 10:
    print(i)
    i += 1

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10



---



---

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang menerima satu input nilai numerik
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [40]:
a = 10

def fungsi_while(angka):
  if angka > 0 :
    while angka > 0 :
      print(angka)
      angka -= 1
  else :
    while angka < 0 :
      print(angka)
      angka += 1

fungsi_while(a)

10
9
8
7
6
5
4
3
2
1

Expected Output:

jika a = 10                           

10                                   
9                      
8   
7   
6  
5  
4  
3  
2  
1

jika a = -10

-10                                   
-9                        
-8  
-7  
-6  
-5  
-4  
-3  
-2  
-1



---



---

<h2>Soal 7: For Loop</h2>

Lengkapi kode untuk menghasilkan suatu output yang diharapkan:





*   Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [42]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

In [55]:
#code here
# ada 2 cara, pertama dengan loop biasa
siswa_lulus = []
for siswa in data_siswa :
  if siswa['nilai'] >= 80 :
    siswa_lulus.append(siswa['nama'])
print(siswa_lulus)

# kedua dengan list comprehension
siswa_above_80 = [siswa['nama'] for siswa in data_siswa if siswa['nilai'] >= 80]
print(siswa_above_80)

['Budi', 'Rudi', 'Leo']
['Budi', 'Rudi', 'Leo']

Expected output:

['Budi', 'Rudi', 'Leo']



---



---

<h2>Soal 8: For Loop Enumerate</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [54]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for i, val in enumerate(obj_list) :
  print(i*val)

0
16
22
30
20

Expected Output:

0

16

22

30

20



---



---